<a href="https://colab.research.google.com/github/SamG1002/PythonFiap/blob/main/codigo_checkpoint2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Checkpoint 1


---

## Carregar módulos

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Carregar dados

In [ ]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [ ]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [ ]:
dados_paises_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/1/22,5/2/22,5/3/22,5/4/22,5/5/22,5/6/22,5/7/22,5/8/22,5/9/22,5/10/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,178899,178901,178901,178901,178905,178919,178922,178981,179010,179017
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,275167,275177,275191,275211,275266,275310,275341,275366,275372,275416
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,265782,265782,265782,265782,265786,265791,265794,265798,265800,265804
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,41349,41349,41349,41717,41717,41717,41717,41717,41717,41717
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,99287,99287,99287,99287,99287,99287,99287,99287,99287,99287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,657060,657060,657060,657060,657060,657060,657060,657060,657193,657193
280,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
281,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11818,11819,11819,11819,11819,11819,11819,11819,11819,11819
282,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,319733,319755,319755,319755,319755,319755,320099,320099,320157,320226
283,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,247911,247935,247990,248050,248050,248214,248214,248352,248536,248642

## Ajustes

- Nomes das colunas

In [ ]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [ ]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [ ]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/1/22', '5/2/22', '5/3/22', '5/4/22', '5/5/22', '5/6/22', '5/7/22',
       '5/8/22', '5/9/22', '5/10/22'],
      dtype='object', length=844)

- Reajustar dados

In [ ]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [ ]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [ ]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long     date  dead
238555      NaN    West Bank and Gaza  31.952200   35.233200  5/10/22  5657
238556      NaN  Winter Olympics 2022  39.904200  116.407400  5/10/22     0
238557      NaN                 Yemen  15.552727   48.516388  5/10/22  2149
238558      NaN                Zambia -13.133897   27.849332  5/10/22  3983
238559      NaN              Zimbabwe -19.015438   29.154857  5/10/22  5481

In [ ]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [ ]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [ ]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [ ]:
dados_paises_covid.tail()

,province,country,Lat,Long,date,infected
238555,NaN,West Bank and Gaza,31.952200,35.233200,2022-05-10,657193
238556,NaN,Winter Olympics 2022,39.904200,116.407400,2022-05-10,535
238557,NaN,Yemen,15.552727,48.516388,2022-05-10,11819
238558,NaN,Zambia,-13.133897,27.849332,2022-05-10,320226
238559,NaN,Zimbabwe,-19.015438,29.154857,2022-05-10,248642

In [ ]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long       date  dead
238555      NaN    West Bank and Gaza  31.952200   35.233200 2022-05-10  5657
238556      NaN  Winter Olympics 2022  39.904200  116.407400 2022-05-10     0
238557      NaN                 Yemen  15.552727   48.516388 2022-05-10  2149
238558      NaN                Zambia -13.133897   27.849332 2022-05-10  3983
238559      NaN              Zimbabwe -19.015438   29.154857 2022-05-10  5481

In [ ]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

- Combinar os datasets

In [ ]:
dados_paises_covid.shape

(238560, 6)

In [ ]:
dados_paises_covid_dead.shape

(238560, 6)

In [ ]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [ ]:
dados_covid.tail()

,province,country,Lat,Long,date,infected,dead
238555,NaN,West Bank and Gaza,31.952200,35.233200,2022-05-10,657193,5657
238556,NaN,Winter Olympics 2022,39.904200,116.407400,2022-05-10,535,0
238557,NaN,Yemen,15.552727,48.516388,2022-05-10,11819,2149
238558,NaN,Zambia,-13.133897,27.849332,2022-05-10,320226,3983
238559,NaN,Zimbabwe,-19.015438,29.154857,2022-05-10,248642,5481

In [ ]:
dados_covid.shape

(238560, 7)

## Aqui começa o trabalho

## *Exemplo probabilidades (memórias de cálculo)

- Prob(infectados covid)

# Checkpoint 2


---

**Atividade 2 – Projeto Covid19 - O mundo está sofrendo uma pandemia causada pela infecção generalizada pelo vírus Covid-19, também  conhecido  por  Corona  vírus.  Assumindo  que  trabalhamos  numa  empresa  de  Data Science voltada a Helthcare, levantamos alguns dados relacionados ao número de casos. Diante disto, algumas análises precisam ser realizadas.**

Integrantes:


RM: 93100 - Nome: Guilherme Ferreira Lima

RM: 94393 - Nome: Breno Rodrigues Barbosa

RM: 94366 - Nome: Mateus Cadete Silva

RM: 96289 - Nome: SAMUEL GUERRA DE AQUINO

**1 –Filtrar  a  data  mais  recente  (realizar  o  processo  para  buscar  a  última  data  de  forma automatizada) e os países Brasil e E.U.A.**

In [ ]:
max_date = np.max(dados_covid['date'])

In [ ]:
dados_covid_filtrado = dados_covid[dados_covid['date'] == max_date]

**2 –Pesquisar populações de Brasil e E.U.A. Depois, adicionar estas populações como uma coluna no dataset.**

In [ ]:
filtro_paises = ['Brazil', 'US']

In [ ]:
filtro_br = ['Brazil']
filtro_us = ['US']

In [ ]:
Filtro_BR_US = dados_covid_filtrado [dados_covid_filtrado['country'].isin(filtro_paises)] #pega os dados dos 2 paises

In [ ]:
poppaises= [214567609, 335898435] #variavel para a populacao

In [ ]:
populacao_BR_US = Filtro_BR_US.assign(Populacao=poppaises) #adicionando a populacao ao dataset
populacao_BR_US

,province,country,Lat,Long,date,infected,dead,Populacao
238307,NaN,Brazil,-14.235,-51.9253,2022-05-10,30594388,664624,214567609
238532,NaN,US,40.000,-100.0000,2022-05-10,82059839,998048,335898435

In [ ]:
total_infected = populacao_BR_US['infected'].sum() #infected total dos 2 paises

112654227

In [ ]:
total_populacao = populacao_BR_US['Populacao'].sum() #populacao total dos 2 paises
total_mortos = populacao_BR_US['dead'].sum() #mortos total dos 2 paises

1662672

In [ ]:
#total_infected / total_populacao #media de infectados para populacao e infectados

In [ ]:
infected_br = int(populacao_BR_US.loc[238307,'infected']) #numero de infectados BR
infected_us= int(populacao_BR_US.loc[238532,'infected']) #numero de infectados US

82059839

In [ ]:
#popBra = dados_covid_filtrado [dados_covid_filtrado['country'].isin(bra)]

In [ ]:
total_brasil_populacao = int(populacao_BR_US.loc[238307,'Populacao']) #total de populacao inteiro
total_Us_populacao = int(populacao_BR_US.loc[238532,'Populacao']) #total de populacao inteiro

335898435

In [ ]:
#infected_br_int / total_populacao

0.0555790649277542

***3– Considerando   somente   os   dados   dos   países   apresentados,   encontre   as   seguintes probabilidades, baseando-se na coluna de infectados:***

a) Probalidade(infectado covid | ser Brasileiro)

In [ ]:
pInfecBr = infected_br / total_infected 
pInfecBr

0.27157780772842194

b)P(infectado covid | ser USA)

In [ ]:
pInfecUs = total_infected / infected_us
pInfecUs

1.372830222101703

**4– Encontre as seguintes probabilidades, baseando-se na coluna de mortos:**

*a)P(morte covid | ser Brasileiro)*

In [ ]:
pMortBr = total_mortos / total_brasil_populacao
pMortBr

0.007748942199379218

*b)P(mortecovid | ser USA)*

In [ ]:
pMortUs = total_mortos / total_Us_populacao
pMortUs

0.0049499248187923235

**5– Comente as diferenças entre os países.**

Podemos ver que a probalidade de infectados dos **Estados Unidos** é muito maior, porque existe uma grande parte da população que é anti-vacina, sem contar que a população é muito maior comparada a do Brasil.

Já a probabilidade de mortes por covid no Brasil é maior, acreditamos que seja por conta da precariedade do sistema de saúde e da higiene sanitária, isso faz com que as pessoas não tenham o tratamento adequado para diminuir os sintomas da covid.